Package: enigma2-plugin-extensions-epgimport
Version: 99.0
Section: misc
Priority: optional
Architecture: all
Maintainer: Lululla
Description: EPG Import
Source: enigma2-plugin-extensions-epgimport
Homepage: *
